@charset "UTF-8";
.file-setting{
    color: yellow;
}
#incallback,#outcallback{
    margin-top:10px;
    background-color: rgba(0,0,0,.5);
}
.slideBg1 { background-image:url('../img/bg1.png'); }
slides>slide .slide-wrapper blockquote .nobefore:before,
slides>slide .slide-wrapper blockquote .nobefore ::before { content: '';}
.italic { font-style: italic; text-align: right;}
.note section { height: 100%; overflow-y: auto; box-sizing: border-box;}

